* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: url("https://tse2.mm.bing.net/th?id=OIP.2QLvJm85JUFixVvtVHXrngHaE8&pid=15.1&P=0&w=237&h=159");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: steelblue;
}

header p {
    font-size: 15px;
}

header p.api-info {
    color: steelblue;
    font-size: 16px;
    font-weight: bold;
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    width: 80%
}

.start-display {
    height: 100vh;
    box-shadow: 0 0 10px black;
    padding-top: 200px;
    margin-bottom: 45px;
}

h1.logo {
    font-family: 'Eczar', serif;
    font-size: 60px;
}

form {
    padding: 30px;
}

label, #errMsg {
    font-size: 35px;
    font-weight: bold;
    color: steelblue;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

form input {
    height: 50px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid steelblue;
}

form button {
    height: 50px;
    width: 100px;
    background: #eee;
    border: 0px;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 0 5px black;
    font-size: 20px;
}

form a {
    color: black;
    text-decoration: none;
}

.hidden {
    display: none;
}

.weather-results {
    padding: 10px;
    margin: 30px 0;
    text-align: center;
}

.weather-results h1 {
    font-size: 40px;
    color: black;
    font-family: 'Megrim', sans-serif;
}

.weather-image {
    width: 50%;
}

.weather-results {
    margin: 10px;
    padding: 10px;
    width: 100%;
    background: rgba(230, 223, 223, 0.7);
    border-radius: 5px;
}

/***** NAVIGATION *****/

nav {
    margin: 20px 0;
}

button.category-button {
    margin: 5px;
    padding: 10px;
    background: #fff;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

button.selected {
    background: #ccc;
}

/***** RESULT DISPLAY *****/
.col-3,
.result {
    margin: 10px;
    padding: 10px;
    width: 100%;
    background: rgba(230, 223, 223, 0.7);
    border-radius: 5px;
}

.result-description {
    padding: 10px;
    text-align: justify;
    overflow: hidden;
    font-size: 0.9em;
}

.result-description h2 {
    font-size: 1.3em;
    font-weight: 700;
}

#foursquare-results span {
    display: inline-block;
    height: 32px;
    padding: 0;
    vertical-align: top;
    background-color: #ccc;
    border-radius: 5px;
}

#foursquare-results span.icon-text {
    padding: 8px 4px 0 4px;
}

/***** RESPONSIVE DESIGN *****/

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .col-3 {
        width: 30%;
        display: inline-block;
        vertical-align: text-top;
    }
    form {
        
        text-align: center;
    }

    input {
        margin: 0 auto;
    }
}